.nav-link
    text-decoration: none
    color: #444
    padding: .5em
    margin-left: 1em !important
    border-radius: .5em
    &:hover
        background-color: #dddddd
    &:active
        background-color: #AAA
