.nav-link
    text-decoration: none
    color: #444
    padding: .5em
    margin-left: 1em !important
    border-radius: .5em
    &:hover
        background-color: #dddddd
    &:active
        background-color: #AAA

#navbar-cart-logbutton
    display: flex
    flex-direction: row
    align-items: center
    margin-left: auto

#cart-navbar
    display: flex
    align-items: center
    margin-right: .5rem
    >*
        line-height: 1.2em
        height: 1em
        margin: 0
.cart
    &:hover
        box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
